<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="TemplateMo" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" />

        <title>insert name here</title>
        <!--

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

-->

        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />

        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css" />

        <link rel="stylesheet" href="/assets/css/templatemo-lava.css" />

        <link rel="stylesheet" href="/assets/css/owl-carousel.css" />

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" ></script>
        <script src="/js/lobby.js" defer></script>
    </head>

    <body>
        <!-- ***** Preloader Start ***** -->
        <div id="preloader">
            <div class="jumper">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->

        <!-- ***** Header Area Start ***** -->
        <!-- <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">

                        <a href="index.html" class="logo">
                            name
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header> -->
        <!-- ***** Header Area End ***** -->
        <div>
            <input type="text" placeholder="course">
            <button>match me!</button>
        </div>
        <div>
            <div class="container1">
                <!-- ***** Chat ***** -->

                <!-- ***** Timer ***** -->
                <div class="timer">
                    Enter Time:<input id="userInput" class="enter-time" placeholder="0" />
                    <div>Time Remaining:</div>
                    <div class="time-remaining" id="seconds">0</div>
                    <br />
                    <button class="addBtn" onclick="startTime()" id="start">Start</button>
                    <button class="addBtn" onclick="stop()" id="stop">Stop</button>
                    <button class="addBtn" onclick="reset()" id="reset">Reset</button>

                    <script>
                        var myVar;
                        var timer = document.getElementById("userInput");
                        var countDownSeconds = 0;

                        function startTime() {
                            if (countDownSeconds === 0) {
                                myVar = setInterval(start, 1000);
                                document.getElementById("seconds").innerHTML = timer.value;
                                countDownSeconds = timer.value;
                            } else {
                                myVar = setInterval(start, 1000);
                                document.getElementById("seconds").innerHTML = countDownSeconds;
                            }
                        }

                        function start() {
                            countDownSeconds--;
                            document.getElementById("seconds").innerHTML = countDownSeconds;
                            if (countDownSeconds <= -1) {
                                stop();
                                document.getElementById("seconds").innerHTML = "0";
                            }
                        }

                        function stop() {
                            clearInterval(myVar);
                        }

                        function reset() {
                            clearInterval(myVar);
                            document.getElementById("seconds").innerHTML = "0";
                            countDownSeconds = 0;
                        }
                    </script>
                </div>
            </div>

            <!-- ***** Video (2) ***** -->

            <!-- ***** Tasks - ayleen will do this :D ***** -->
            <div class="container2">
                <div class="tasks">
                    <script src="https://kit.fontawesome.com/29ee0bc57e.js" crossorigin="anonymous"></script>

                    <input class="todo" type="text" id="myInput" placeholder="Things to be done..." />
                    <span class="addBtn" id="add_button">Add</span>
                    <ul id="myUL"></ul>
                    <script src="/assets/js/taskscript.js"></script>
                </div>
            </div>
        </div>

        <style>
            #video-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, 500px);
                grid-auto-rows: 500px;
            }
    
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>

        <div id="video-grid"></div>
        <button id="disableVideo">Disable Video</button>
        <button id="muteAudio">Mute</button>

        <script src="/assets/js/jquery-2.1.0.min.js"></script>

        <!-- Bootstrap -->
        <script src="/assets/js/popper.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>

        <!-- Plugins -->
        <script src="/assets/js/owl-carousel.js"></script>
        <script src="/assets/js/scrollreveal.min.js"></script>
        <script src="/assets/js/waypoints.min.js"></script>
        <script src="/assets/js/jquery.counterup.min.js"></script>
        <script src="/assets/js/imgfix.min.js"></script>

        <!-- Global Init -->
        <script src="/assets/js/custom.js"></script>
    </body>
</html>
